html {
  background-color: #EBE5D3;
}
body {
  background-color: white;
  width: 700px;
  margin: 80px auto;
  padding: 50px;
}
h1, h2, h3, p {
  text-align: center;
}
header {
  font-size: 20px;
  font-weight: bold;
  border: 3px solid black;
  padding: 5px;
  width: 450px;
  margin: 20px auto;
}
form {
  text-align: center;
}
form {
  display: block;
}
table, td, th, tr {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
  margin: 0 auto 15px;
}
th, td {
  text-align: center;
  padding: 5px;
}

.removeInput {
  display: inline;
}
